@import '../../Assets/sass/general.scss';
.button{
    width: 250px;
    padding: 21px 0;
    text-align: center;
    border-radius: 5px;
    background: #FF0000;
    @include text (18px , 500 , #fff);
    cursor: pointer;
}