@import '../../Assets/sass/general.scss';
.button{
    width: 250px;
    padding: 21px 0;
    text-align: center;
    border-radius: 5px;
    background: #FF0000;
    @include text (18px , 500 , #fff);
    cursor: pointer;
    position: relative;
    z-index: 2;

    &::after{
        position: absolute;
        content: '';
        width: 0%;
        height: 100%;
        background-color: #1f1c1c;
        left: 0;
        top: 0;
        border-radius: 5px;
        transition: all 0.5s;
        color: #fff;
    }
    
    &:hover::after{
        width: 100%;
        z-index: -1;
    }
}