@import '../../Assets/sass/general.scss';
.site-header{
    padding: 24px 0;

    .header {
        @include center (flex , center , space-between);

        &__logo {

            .logo{
                width: 91px;
                height: 32px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &__nav {
            display: none;
        }

        &__list {
            @include center (flex , center , none);
            gap: 57px;

            .item{
                text-decoration: none;
                @include text (16px , 400 , #000);
                line-height: 100%;
                opacity: 0.4;
                letter-spacing: -0.02em;
            }

            .active{
                opacity: 1;
            }

            .login{
                margin-left: 100px;
                color: #FF0000;
                text-decoration: none;

                span{
                    @include text (16px , 400 , #f00);
                    line-height: 100%;
                    letter-spacing: -0.02em;
                    margin-left: 8px;
                }
            }
        }
    }
}

@media screen and (max-width: 990px){
    .site-header{
        padding: 15px 0;
    
        .header {
            @include center (flex , center , space-between);
    
            &__logo {
    
                .logo{
                    width: 91px;
                    height: 32px;
    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
    
            &__list {
                display: none;
            }

            &__nav {
                display: block;

                i {
                    cursor: pointer;
                    font-size: 24px;
                }
            }
        }
    }
}