@import '../../Assets/sass/general.scss';

.section-courses{
    margin-top: 200px;

    .courses{

        h4{
            @include text (32px , 600 , #000);
            line-height: 100%;
            letter-spacing: -0.02em;
        }

        &__pages{
            width: 60%;
            margin: 20px 0;
            background: #FFFFFF;
            border-radius: 5px;
            padding: 10px 14px;
            @include center (flex , center , space-between);
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;

            .btn__cart{
                padding: 18px 39px;
                @include text (14px , 600 ,  rgba(0, 0, 0, 0.5));
                line-height: 100%;
                border-radius: 5px;
            }
            
            .active{
                background: #1D1D23;
                color: #FFFFFF;
            }
        }

        .button{
            margin: 50px auto;
        }

        .courses__list{
            @include center (flex , center , space-between);
            flex-wrap: wrap;
            margin-top: 30px;

            .item {
                width: 31%;
                background: #FFFFFF;
                box-shadow: 0px 2px 2px rgba(204, 204, 204, 0.51);
                border-radius: 0 0 5px 5px;
                margin-top: 30px;

                &__top{
                    
                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }
                }

                &__body {
                    padding: 32px 34px;

                    .top {
                        @include center (flex , center , none);
                        gap: 20px;

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        div {

                            h4 {
                                @include text (16px , 400 , #000);
                                line-height: 100%;
                                margin: 0;
                            }

                            p {
                                @include text (13px , 400 ,  rgba(0, 0, 0, 0.5));
                                line-height: 100%;
                                margin: 0;
                                margin-top: 6px;
                            }
                        }
                    }

                    p {
                        @include text (22px , 500 , #000);
                        line-height: 30px;
                        letter-spacing: -0.02em;
                        margin: 21px 0;
                    }
                    
                    span {
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #E6E6E6;
                    }

                    .bottom{
                        margin-top: 20px;
                        @include center (flex , center , space-between);

                        h5{
                            @include text (24px , 600 , #000);
                            line-height: 100%;
                            letter-spacing: -0.02em;
                            margin: 0;
                        }

                        .link {
                            @include text (14px , 400 , #000);
                            line-height: 100%;
                            letter-spacing: -0.02em;
                            text-decoration: none;

                            i {
                                margin-left: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}