@mixin center ($flex , $center , $space-between ){
    display: $flex;
    align-items: $center;
    justify-content: $space-between;
}

@mixin text ($fs , $fw , $color){
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}